image/
__pycache__
**/build/
**/*.egg-info/
**/dist/
*.so
exp
exp_runs
weights
data
log
logs/
*.log
outputs/
.vscode
.github
.ruff_cache
.idea
*/.DS_Store
**/*.out
Dockerfile
.pre-commit-config.yaml

exp/
*.whl
*.ply
*.pth
data/
output/
output/*
checkpoints/
checkpoints/*
example_data/
example_data/*